/*===== Mobile Layout =====*/

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexbox-aside {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  display: none;
}

.flexbox-article {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

/*===== Desktop Layout =====*/

@media screen and (min-width: 500px) {
  .flexbox-container {
    flex-direction: row;
  }

  .flexbox-aside {
    width: 33%;
    padding: .10em;
    display: block;
  }

  .flexbox-article {
    width: 66%;
    padding: .10em;
  }
}

/*===== Flip Container =====*/
.flip-container {
  padding: 1em;
  display: flex;
  flex-wrap: nowrap;
  -webkit-perspective: 80em;
  perspective: 80em;
}

.shell {
  width: 25em;
  height: 25em;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 25em;
  height: 25em;
  backface-visibility: hidden;
}

.front {
  background: url(../images/FTT_shellBLACK2.jpg) no-repeat center;
  background-size: contain;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  z-index: 2;
}

.back {
  background: url(../images/FTT_shellBLACK2.jpg) no-repeat center;
  background-size: contain;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.shell.active {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*===== Checkbox Hack Test =====*/

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
   /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}

/* Default State */

/* Toggled State */
input[type=checkbox]:checked ~ #room-box {
   display: none;
}
