.nav-list li {
  display: inline-block;
  display-list-style: none;
  margin: 0;
}

.message-box {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.static-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
  display: none;
}

/*===== Emoji Icons =====*/
.box-skin {
  background-color: #FFF68F;
  border-radius: .5em;
  position: relative;
}

.hidden {
  display: none;
}

.emjoi_list {
  width: 30%;
  display: absolute;
}

/*===== Utilities =====*/
.center-element {
  margin-right: auto;
  margin-left: auto;
}

.expand-width {
  width: 100%;
}

@media screen and (min-width: 50em) {
  .expand-width {
    width: 100%;
  }
}

.white-text {
  color: white;
}

.white-background {
  background-color: white;
}

.remove-background {
  background: none;
}

.center-text {
  text-align: center;
  border: none;
}

.box-padding {
  padding: 1em;
}

.collapse {
  display;
}

/*===== Buttons =====*/

.button {
  border: .1em solid green;
  padding: .5em 2em;
  display: block;
  cursor: pointer;
}

/*===== IDs =====*/

#create_room {
  display: block;
  width: 15em;
}

/*===== Media Queries for Desktop =====*/
/* Hidden Chat Room Feature */

@media screen and (min-width: 50em) {
  .items {
    width: 61%;
    margin-right: 2%;
    position: relative; top: 1%;
    display: none;
  }

  .message-box {
    position: absolute;
    bottom: .5em;
    left: .5em;
    right: .5em;
    width: 100%;
  }

  #message-text {
    width: 80%;
    overflow: hidden;
  }
}

/*===== Room Menu =====*/

.room-list li{
  padding: 1em;
  margin-bottom: .5em;
  -moz-border-radius-topright: .5em;
  -moz-border-radius-bottomright: .5em;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  border-top-left-radius: .5em;
}

.room-list li:nth-child(even){
  background: linear-gradient(to left,rgb(165, 106, 166),rgb(163, 61, 166));
}

.room-list li:nth-child(odd){
  background: linear-gradient(to left,rgba(217, 24, 40,.8),rgb(217, 56, 56));
}

.room-list li:nth-child(3n){
  background: linear-gradient(to left,rgba(136,187,254,.8),rgb(50, 137, 254));
}

.room-list li:nth-child(4n){
  background: linear-gradient(to left,rgb(242, 146, 56),rgba(242,116,5,.8));
}

li:hover{
  background: rgb(106, 220, 9);
}

.display-block li{
  display: block;
}

#chat-box {
  height: 350px;
}

/*===== Flip Container =====*/
.flip-container {
  padding: 1em;
  display: flex;
  flex-wrap: nowrap;
  -webkit-perspective: 80em;
  perspective: 80em;
}

.shell {
  width: 25em;
  height: 25em;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 25em;
  height: 25em;
  backface-visibility: hidden;
}

.front {
  background: url(../images/shell_front.jpg) no-repeat center;
  background-size: contain;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  z-index: 2;
}

.back {
  background: url(../images/shell_back.jpg) no-repeat center;
  background-size: contain;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.shell.active {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
